[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
